/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Pop scheme by Chris Kempson (http://chriskempson.com) */

window {
	background-color: #202020;
	color: #d0d0d0;
}

#entry:nth-child(odd) {
	background-color: #202020;
}

#entry:nth-child(even) {
	background-color: #303030;
}

#entry:selected {
	background-color: #000000;
}

#input {
	background-color: #202020;
	color: #d0d0d0;
	border-color: #202020; 
}

#input:focus {
	border-color: #37b349; 
}

*{
    font-family: JetBrains Mono NL;
    font-size: 12px;
    font-weight: bold;
    padding: 1px;
}

#scroll {
}

#text:selected {
	color: #00aabb;
	background-color: #202020;
}
