window {
        background-color: #fafafa;
        color: #383a42;
}

#entry:nth-child(odd) {
        background-color: #fafafa;
}

#entry:nth-child(even) {
        background-color: #f0f0f1;
}

#entry:selected {
        background-color: #5294e2;
}

#input {
        background-color: #f0f0f1;
        color: #696c77;
        border-color: #e5e5e6;
}

#input:focus {
        border-color: #c18401;
}

*{
    font-family: JetBrains Mono NL;
    font-size: 13px;
    font-weight: bold;
    padding: 1px;
}

#scroll {
}

