/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/*
*
* Base16 One Light
* Author: Daniel Pfeifer (http://github.com/purpleKarrot)
*
*/

@define-color base00 #fafafa;
@define-color base01 #f0f0f1;
@define-color base02 #e5e5e6;
@define-color base03 #a0a1a7;
@define-color base04 #696c77;
@define-color base05 #383a42;
@define-color base06 #202227;
@define-color base07 #090a0b;
@define-color base08 #ca1243;
@define-color base09 #d75f00;
@define-color base0A #c18401;
@define-color base0B #50a14f;
@define-color base0C #0184bc;
@define-color base0D #4078f2;
@define-color base0E #a626a4;
@define-color base0F #986801;

/*
* Other colors
*/

@define-color base10 #fb607f;

@define-color base3 #5294e2;

@keyframes blink-warning {
  /*50% {
    color: @base05;
  }*/

  to {
    color: @base03;
  }
}

@keyframes blink-critical {
  /*50% {
    color: @base09;
  }*/

  to {
    color: @base10;
  }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  font-size: 14px;
  /*font-family: "JetBrains Mono NL";*/
  font-family: "Noto Sans Mono";
  font-weight: bold;
  color: @base05;
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0px;
  padding: 0;
}

/* The whole bar */
window#waybar {
  background: @base02;
  color: @base05;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 0;
  padding: 0;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark,
#custom-separator-dark {
  color: @base00;
  opacity: 1;
  background: transparent;
}

/* Each module */
#workspaces,
#window,
#battery,
#clock,
#backlight,
#cpu,
#disk,
#custom-keyboard-layout,
#memory,
#mode,
#custom-weather,
#custom-launcher,
#custom-power,
#custom-separator-dark,
#network,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor,
#taskbar,
#custom-PBPbattery {
  padding: 0px 5px 0px 5px;
  background: @base00;
  opacity: 1;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#workspaces {
  padding: 0px 0px 0px 0px;
  margin: 0;
  margin-left: 0px;
}

#workspaces button {
  color: @base05;
  margin: 0;
  padding: 0px 0px 0px 0px;
  border-radius: 0px;
}

#workspaces button.focused {
  border-style: solid;
  border-width: 2 0 2 0;
  border-color: @base3;
  /*background: @base02;*/
  border-radius: 0;
  color: @base05;
}

#workspaces button.urgent {
  border-color: @base09;
  border-radius: 0;
  color: @base05;
}

#cpu,
#memory,
#battery,
#temperature {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pulseaudio.muted {
  color: @base03;
}

#battery.warning,
#cpu.warning,
#memory.warning,
#network.disconnected {
  color: @base05;
}

#battery.critical,
#cpu.critical,
#memory.critical,
#temperature.critical {
  color: @base09;
}

#battery.warning.discharging,
#cpu.warning,
#memory.warning,
#temperature.warning {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging,
#memory.critical,
#cpu.critical,
#temperature.critical {
  animation-name: blink-critical;
  animation-duration: 3s;
}

#mode {
  color: @base09;
}

#pulseaudio {}

#custom-launcher {
  color: @base3;
}

#taskbar,
#tray,
#window {
  padding: 0;
  margin: 0 0px 0 0px;
}

#taskbar {
  margin-top: 0px;
}

#taskbar button {
  color: @base05;
  border-radius: 0px;
  padding: 0px 3px 0px 3px;
}

#taskbar button.active {
  border-style: dashed;
  border-width: 2 0 0 0;
  border-color: @base3;
  border-radius: 20;
}

#tray {
  padding: 0 3px 0px 3px;
}

#custom-power {
  color: @base3;
}

tooltip {
  color: @base05;
  background-color: @base00;
  text-shadow: none;
}

tooltip * {
  color: @base05;
  text-shadow: none;
}

